.typewriter-container {
    min-height: 300px;
    align-content: center;
    padding: 4rem;
    text-align: right;
}

h1 {
    font-size: 3rem;
}

.fade-in {
    animation: forwards 1s fadein;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.homepage-text {
    max-width: 75%;
}

.homepage-list li {
    list-style: none;
    text-align: left;
}

.homepage-list {
    margin: 2rem 0;
}