/* ---------- */
/*  Preloader */
/* ---------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: white;
    background-image: url(./assets/pre.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}


/* ----------- */
/*  Container  */
/* ----------- */

.page-content {
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
    min-height: calc(100vh - 104px);
    color: white;
}

/* -------- */
/*  Footer  */
/* -------- */

.footer {
    position: relative;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #181a27b4;
    color: white;
}

.social-icon {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-line {
    margin-bottom: 1rem;
}

/* --------- */
/*  Textbox  */
/* --------- */

.text-box-shadow-red-dark {
    color: #fffcfc;
    border: 2px solid;
    border-color: #5e3636;
    background-color: #271e1e;
    box-shadow: 4px 5px 4px 3px #362424;
    padding: 10px;
}

.text-box-shadow-blue-dark {
    color: #fcfcff;
    border: 2px solid;
    border-color: #363B5E;
    background-color: #1e2127;
    box-shadow: 4px 5px 4px 3px #242636;
    padding: 10px;
}

.text-box-shadow-yellow-dark {
    color: #fffffc;
    border: 2px solid;
    border-color: #5e5b36;
    background-color: #27271e;
    box-shadow: 4px 5px 4px 3px #363524;
    padding: 10px;
}

.text-box-shadow-green-dark {
    color: #fcfffc;
    border: 2px solid;
    border-color: #3d5e36;
    background-color: #20271e;
    box-shadow: 4px 5px 4px 3px #243624;
    padding: 10px;
}

.text-box-shadow-purple-dark {
    color: #fffcff;
    border: 2px solid;
    border-color: #5e365c;
    background-color: #271e27;
    box-shadow: 4px 5px 4px 3px #362435;
    padding: 10px;
}

.text-box-shadow-red-light {
    border: 2px solid;
    border-color: #b83d3d;
    background-color: white;
    box-shadow: 4px 5px 4px 3px #7a2424;
    /* box-shadow: 0 0 5px 2px grey;  */
    padding: 10px;
}

/* ------ */
/*  Card  */
/* ------ */

.custom-card {
    max-width: 400px;
    margin: 0 auto;
}

/* -------- */
/*  Navbar  */
/* -------- */

.navbar {
    padding: 1rem 2rem !important;
    font-size: 1.1rem !important;
}

.nav-item {
    position: relative;
    margin-left: 20px;
}

.nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1rem 2rem !important;
        font-size: 1.4rem !important;
        background-color: #181a27 !important;
    }

    .navbar-nav .nav-item a::after {
        display: none !important;
    }
}

.nav-item a:hover::after {
    width: 100%;
}

.nav-link svg {
    margin-right: 0.5rem;
}

/*
.nav-item a::after {
    background-color: blue;
}*/

#nav-item-home a::after {
    background-color: blue;
}

#nav-item-about a::after {
    background-color: red;
}

#nav-item-projects a::after {
    background-color: yellow;
}

#nav-item-contact a::after {
    background-color: green;
}

#nav-item-blogs a::after {
    background-color: purple;
}